<aside id="sidebarA">
    <nav>
      <ul>
          <li><a class="current" href="/">
                  Home</a></li>
          <li><a href="/categories" >
                  Catalog</a></li>
          <li><a href="/about">
                  About</a></li>
          <li><a href="/contact">
                  Contact Us</a></li>
      </ul>
    </nav>
</aside>
