<% include ./partials/header.ejs %>
<% include ./partials/side-navigation.ejs %>



<section>
    <h1>Meet the Photographer: Hunter Carlton.</h1>
      <img src="./../assets/images/7.jpeg" alt="me" class="item-photo" style="width: 50%; height: 50%;">
        <h2>  Hello! </h2>
          <p> So glad that you are passing through to get to know us. I am an adventurous photographer currently living in Charlotte, North Carolina.
          I started out with mostly urban and landscape photography, and most recently discovered a passion in shooting portraits. After shooting my first portrait shoot, I was hooked.
          I try to resemble the excitement and emotions displayed on our client through my photos. Portrait photography tells a unique story, it captures the real moments that tell YOUR story.</p>

</section>


<% include ./partials/footer.ejs %>
