<% include ./partials/header.ejs %>
<% include ./partials/side-navigation.ejs %>

<section>
            <h1>
                Welcome to HC Photography's website !
            </h1>

            <p>
                This site is a gallery of my recent work, feel free to take a look around!
            </p>

            <p>
                I am a current junior at UNC Charlotte and my main hobby is photography.
                I gained interest in photography during high school and has since sky-rocketed. I enjoy taking urban and landscape photography.
                I recently got into photographing NBA games and enjoy not only capturing game moments but also meeting some incredible players.
            </p>

</section>

<!-- end the middle column -->

<% include ./partials/footer.ejs %>
